################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopApiSolution/ShopAPI/appsettings.Development.json
/.vs
/WPFClient/bin/Debug/net6.0-windows
/BlazorServer/obj/Debug/net6.0/staticwebassets
